// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$cPrimary   : #00aa82;
$cSecond    : #ff3300;
$cHighlight : #ff3f65;
$cText      : #444444;
$cBorder    : #797979;
$cLine      : #999999;
$cTBody     : #ffffff;
$cTHead     : #e2f2ef;
$pxHead     : 14px;
$pxNormal   : 12px;

// sidebar
$menuText:#5b5b5b;
$menuActiveText:#189022;
$subMenuActiveText:#000000; // https://github.com/ElemeFE/element/issues/12951
$menuActiveBg:#99ffcc;
$subMenuActiveBg: #00aa82;

$menuBg:#e2f2ef;
$menuHover:#00aa82;

$subMenuBg:#e2f2ef;
$subMenuHover:#00aa82;

$sideBarWidth: 256px;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;

  cPrimary  :$cPrimary  ;
  cSecond   :$cSecond   ;
  cHighlight:$cHighlight;
  cText     :$cText     ;
  cBorder   :$cBorder   ;
  cLine     :$cLine     ;
  cTBody    :$cTBody    ;
  cTHead    :$cTHead    ;
  pxHead    :$pxHead;
  pxNormal  :$pxNormal;
}
